<% level ||= 0 %>
<% col = 255 - level * 5 %>
<% params.each do |param| %>
  <tr style='background-color:rgb(<%= "#{col},#{col},#{col}" %>);'>
    <td>
      <input id="<%= param[:full_name] %>" data-role='parameter' placeholder="<%= param[:full_name] %>" <%= param[:required] ? 'required' : 'optional' %> /><br>
      <small>
        <%= param[:required] ? 'required' : 'optional' %>
        <%= param[:allow_nil] ? ', nil allowed' : '' %>
      </small>
    </td>
    <td>
      <%= param[:description].html_safe %>
      <% unless param[:validator].blank? %>
        <br>
        Value: <%= param[:validator] %>
      <% end %>
    </td>
  </tr>

  <%= render(:partial => "executer", :locals => {:level => level + 1, :params => param[:params]}) unless param[:params].blank? %>
<% end %>
<tr style='background-color:rgb(<%= "#{col},#{col},#{col}" %>);'>
    <td>
      <input id="_extra_param"  placeholder="Extra Parameters" optional /><br>
      <small>
        optional
      </small>
    </td>
    <td>
      Add any string you want attached to request
    </td>
  </tr>
<tr>
  <td>
    <button onclick="execute();">Execute</button>
  </td>
</tr>
<tr>
  <td>
    Response Status
  </td>
  <td>
    <textarea id="executer_response_status"></textarea>
  </td>
</tr>
<tr>
  <td>
    Response
  </td>
  <td>
    <textarea id="executer_response"></textarea>
  </td>
</tr>
